Checks: '-*,
  bugprone-assignment-in-if-condition,
  bugprone-bool-pointer-implicit-conversion,
  bugprone-branch-clone,
  bugprone-exception-escape,
  bugprone-forward-declaration-namespace,
  bugprone-inaccurate-erase,
  bugprone-incorrect-roundings,
  bugprone-standalone-empty,
  bugprone-unchecked-optional-access,
  bugprone-use-after-move,
  clang-analyzer-core.CallAndMessage,
  clang-analyzer-core.DivideZero,
  clang-analyzer-core.NonNullParamChecker,
  clang-analyzer-core.NullDereference,
  clang-analyzer-core.StackAddressEscape,
  clang-analyzer-core.UndefinedBinaryOperatorResult,
  clang-analyzer-core.uninitialized.*,
  clang-analyzer-core.VLASize,
  clang-analyzer-cplusplus.NewDelete,
  clang-analyzer-cplusplus.NewDeleteLeaks,
  clang-analyzer-deadcode.DeadStores,
  clang-analyzer-optin.cplusplus.VirtualCall,
  clang-analyzer-optin.performance.Padding,
  clang-analyzer-security.*,
  clang-analyzer-unix.*,
  clang-analyzer-valist.*,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-virtual-class-destructor,
  modernize-use-bool-literals,
  modernize-use-nullptr,
  modernize-use-using,
  performance-*,
  readability-avoid-const-params-in-decls,
  readability-container-size-empty,
  readability-convert-member-functions-to-static,
  readability-delete-null-pointer,
  readability-duplicate-include,
  readability-else-after-return,
  readability-inconsistent-declaration-parameter-name,
  readability-misleading-indentation,
  readability-misplaced-array-index,
  readability-non-const-parameter,
  readability-redundant-*,
  readability-simplify-*,
  readability-static-*,
  readability-string-compare,
  readability-uniqueptr-delete-release'
